{% extends 'layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/terapia/update/{{terapia.0}}" method="post">
            <div class="form-group">
                <input type="datetime-local" name="fecha" class="form-control" value="{{terapia.5}}">
            </div>
            <div class="form-group">
                <input type="text" name="costo" placeholder="costo" class="form-control" value="{{terapia.2}}">
            </div>
            <div class="form-group">
                <select name="terapeuta" class="form-control">
                    {% for ter in terapeuta%}
                    <option value="{{ ter.0}}">
                        {{ ter.4 }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select name="cliente" class="form-control">
                    {% for cl in cliente%}
                    <option value="{{ cl.0}}">
                        {{ cl.2 }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class=" form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}