{% extends 'layout.html' %}

{% block title %}Terapia{% endblock %}

{% block content %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('client.home') }}">Clientes <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('terapeuta.home') }}">Terapeuta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('especialidad.home') }}">Especialidades</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('terapia.home') }}">Terapia</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p> {{message}} </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <!-- action="/terapia/add_therapy" method="POST" -->
            <form id="formulario-terapia" action="/terapia/add_therapy" method="POST">
                <div class="form-group">
                    <p>Cliente: </p>
                    <select name="cliente" class="form-control">
                        {% for cl in cliente%}
                        <option value="{{ cl.0}}">
                            {{ cl.2 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <p>Terapeuta: </p>
                    <select name="terap" class="form-control" id="terap">
                        {% for ter in terapeuta%}
                        <option value="{{ ter.0 ~ '-' ~ ter.6}}">
                            {{ ter.4 }}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="terapeuta" id="terapist">
                </div>
                <div class="form-group">
                    <p>Fecha: </p>
                    <input type="datetime-local" name="fecha" class="form-control" id="date">
                </div>
                <div class="form-group">
                    <p>Duración: </p>
                    <select name="duracion" class="form-control" id="dur">
                        {% for i in range(3) %}
                        <option value="{{i+1}}">
                            {{i+1}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <p>Costo :</p>
                    <p id="resultado"></p>
                    <input type="hidden" value="" name="costo" id="cost">
                </div>
                <div class="form-group">
                    <input type="hidden" value="" name="fin" id="final_date">
                </div>
                
            
                <div class="form-group">
                    <button class="btn btn-primary btn-block" id="submit-terapia" >
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-7">
        <table class="table table-striped bg-white table-sm table-bordered">
            <thead>
                <tr>
                    <td>cliente</td>
                    <td>terapeuta</td>
                    <td>fecha</td>
                    <td>duracion</td>
                    <td>fin</td>
                    <td>costo</td>
                </tr>
            </thead>
            <tbody>
                {% for tera in terapia%}
                <tr>
                    <td>{{tera.8}}</td>
                    <td>{{tera.7}}</td>
                    <td>{{tera.3}}</td>
                    <td>{{tera.4}}</td>
                    <td>{{tera.5}}</td>
                    <td>{{tera.6}}</td>
                    <td>
                        <a href="/terapia/edit/{{tera.0}}" class="btn btn-secondary">Editar</a>
                        <a href="/terapia/delete/{{tera.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                        <a href="/terapia/factura/{{tera.0}}" class="btn btn-primary">Factura</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Por Categorías</h3>
        <input type="text" id="livebox" class="col-md-12" placeholder="Buscar">
        <br><br>
        <table>
            <thead>
                <tr>
                    <td>cliente</td>
                    <td>terapeuta</td>
                    <td>especialidad</td>
                    <td>fecha</td>
                    <td>duracion</td>
                    <td>fin</td>
                    <td>costo</td>
                </tr>
            </thead>
            <tbody id="contenido_busqueda">
                   
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            $("#livebox").on("input", function(e){
                let textinlivebox = $("#livebox").val();
                $.ajax({
                    method: "POST",
                    url: "/terapia/livesearch",
                    data:{text: textinlivebox},
                    success: function(res){
                        //document.getElementById('search-response').innerHTML = res;
                        let respuesta = JSON.parse(res)
                        document.getElementById('contenido_busqueda').innerHTML = ''
                        //console.log(respuesta)
                        respuesta.forEach((item) => {
                            console.log(item)
                            let contenido_actual = document.getElementById('contenido_busqueda')
                            contenido_actual.innerHTML += `
                            <tr>
                                <td>${item.nombres}</td>
                                <td>${item.nombre}</td>
                                <td>${item.descripcion}</td>
                                <td>${item.fecha}</td>
                                <td>${item.duracion}</td>
                                <td>${item.fin}</td>
                                <td>${item.costo}</td>
                            </tr>
                            `
                        })
                    }
                })
            });
        });
    </script>
</div>

<!-- <div class="row">
    <div id="calendar" class="col-md-12">
        <script>
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                
                    
            }); 
            calendar.render();
        </script>

    </div>
</div> -->


<script src="{{url_for('static', filename='terapia.js')}}"></script>


{% endblock %}