{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('client.home') }}">Clientes <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('terapeuta.home') }}">Terapeuta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('especialidad.home') }}">Especialidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('terapia.home') }}">Terapia</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p> {{message}} </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/client/add_client" method="POST">
                <div class="form-group">
                    <input type="text" name="username" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="password" placeholder="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="nombres" placeholder="nombres" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="cedula" placeholder="cédula" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped bg-white table-sm table-bordered">
            <thead>
                <tr>
                    <td>username</td>
                    <td>password</td>
                    <td>nombres</td>
                    <td>email</td>
                    <td>cedula</td>
                </tr>
            </thead>
            <tbody>
                {% for cl in cliente%}
                <tr>
                    <td>{{cl.1}}</td>
                    <td>{{cl.3}}</td>
                    <td>{{cl.2}}</td>
                    <td>{{cl.4}}</td>
                    <td>{{cl.5}}</td>
                    <td>
                        <a href="/client/edit/{{cl.0}}" class="btn btn-secondary">Editar</a>
                        <a href="/client/delete/{{cl.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}