{% extends 'layout.html' %}

{% block title %}Terapeuta{% endblock %}

{% block content %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('client.home') }}">Clientes <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('terapeuta.home') }}">Terapeuta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('especialidad.home') }}">Especialidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terapia</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p> {{message}} </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/terapeuta/add_therapist" method="POST">
                <div class="form-group">
                    <input type="text" name="username" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="password" placeholder="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="nombres" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" placeholder="apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="tarifa" placeholder="tarifa" class="form-control">
                </div>
                <div class="form-group">
                    <select name="especialidad" class="form-control">
                        {% for esp in especialidad%}
                        <option value="{{ esp.0}}">
                            {{ esp.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-7">
        <table class="table table-striped bg-white table-sm table-bordered">
            <thead>
                <tr>
                    <td>username</td>
                    <td>password</td>
                    <td>email</td>
                    <td>nombre</td>
                    <td>epellido</td>
                    <td>tarifa</td>
                    <td>especialidad</td>
                </tr>
            </thead>
            <tbody>
                {% for ter in terapeuta%}
                <tr>
                    <td>{{ter.1}}</td>
                    <td>{{ter.3}}</td>
                    <td>{{ter.2}}</td>
                    <td>{{ter.4}}</td>
                    <td>{{ter.5}}</td>
                    <td>{{ter.6}}</td>
                    <td>{{ter.8}}</td>
                    <td>
                        <a href="/terapeuta/edit/{{ter.0}}" class="btn btn-secondary">Editar</a>
                        <a href="/terapeuta/delete/{{ter.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}